{% extends "template.html" %}
{% block content %}
    <!-- Header -->
  <header class="w3-container" id="portfolio">
{#    <a href="http://techkids.vn"><img src="../static/images/techkids.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>#}
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>TechKids Portfolio</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <button class="w3-btn">ALL</button>
      <button class="w3-btn w3-white"><i class="fa fa-cube w3-margin-right"></i>C4E</button>
      <button class="w3-btn w3-white w3-hide-small"><i class="fa fa-fire w3-margin-right"></i>Code Intensive</button>
      <button class="w3-btn w3-white w3-hide-small"><i class="fa fa-html5 w3-margin-right"></i>Web</button>
      <button class="w3-btn w3-white w3-hide-small"><i class="fa fa-android w3-margin-right"></i>Android</button>
      <button class="w3-btn w3-white w3-hide-small"><i class="fa fa-mobile-phone w3-margin-right"></i>iOS</button>
    </div>
  </header>

    <div class="w3-row-padding">
      {% for project in projects %}
    <div class="w3-third w3-container">
        <a href="{{ project.link }}">
            <img src="/project-image/{{ project.id }}" alt="{{ project.title }}"
           style="width:100%" class="w3-hover-opacity">
        </a>

      <div class="w3-container w3-white">
        <p><b>{{ project.title }}</b></p>
        <p>{{ project.description }}</p>
      </div>
    </div>
      {% endfor %}
  </div>
{% endblock %}